.vscode/**
.vscode-test/**
src/**
test/**
tsconfig.json
tsconfig.test.json
.gitignore
**/*.map
**/*.ts
**/tsconfig.json
!**/tsconfig.*.json
node_modules/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-jsonrpc/**
nvim-txtx/**
test-headless.sh
*.vsix
.github/**